<script>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import Workspace from './src/common-ui/organisms/Workspace.vue'

export default {
  name: 'App',
  components: { Workspace }
}
</script>

<template>
  <Workspace/>
</template>

<style>
html,
body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  appearance: none;
  border: solid 0px;
}
</style>
