<template>
<!-- :class="{ highlight: panel.highlight }" -->
  <section  :style="{ left:`${panel.x}%`, top:`${panel.y}%`, width:`${panel.width}%`, height:`${panel.height}%` }">
      <strong>{{ index }}</strong>
      <slot/>
      <div
        class="resize-top"
        style="top: -4px;"
        @mousedown="$emit('highlight', [panel.y, 'gridX'])"
      />
      <div
        class="resize-bottom"
        style="bottom: -4px;"
        @mousedown="$emit('highlight', [panel.y + panel.height, 'gridX'])"
      />
      <div
        class="resize-left"
        style="left: -4px;"
        @mousedown="$emit('highlight', [panel.x, 'gridY'])"
      />
      <div
        class="resize-right"
        style="right: -4px;"
        @mousedown="$emit('highlight', [ panel.x + panel.width, 'gridY'])"
      />
  </section>
</template>

<script>
export default {
    name: 'Panel',
    props: {
        index: {
            type: Number,
            required: true,
        },
        panel: {
            type: Object,
            required: true,
        }
    }
}
</script>

<style lang="postcss" scoped>
section {
    @apply
    absolute
    flex
    justify-center
    items-center
    p-3
    border-r-4
    border-b-4
    border-indigo-600
}
.resize-top,
.resize-bottom {
    position: absolute;
    height: 4px;
    left: 0;
    right: 0;
    background: magenta;
    cursor: ns-resize;
}
.resize-left,
.resize-right {
    position: absolute;
    width: 4px;
    top: 0;
    bottom: 0;
    background: green;
    cursor: ew-resize;
}
.highlight {
    background: bisque;
}
</style>