<template>
  <main
    @click="splitWorkspace()"
    @touchstart="dragStart"
    @mousedown="dragStart"
    @touchmove="splitIndicators($event)"
    @mousemove="splitIndicators($event)"
    @touchend="dragEnd"
    @mouseup="dragEnd"
  >
    <div
      @click="
        (e) => {
          e.preventDefault();
          e.stopPropagation();
        }
      "
      style="position: fixed; top: 0; left: 0; z-index: 2000"
    >
      <button @click="this.splitMode = ''">Split-NA</button>
      <button @click="this.splitMode = 'horizontal'">Split-h</button>
      <button @click="this.splitMode = 'vertical'">Split-v</button>
      <button @click="this.deleteMode = true">Delete Mode</button>
      <!-- <pre>{{ workspace }}</pre> -->
    </div>
    <div
      v-if="splitMode === 'horizontal'"
      class="split-horizontal"
      :style="{ top: `${vertical}px` }"
    />
    <div
      v-if="splitMode === 'vertical'"
      class="split-vertical"
      :style="{ left: `${horizontal}px` }"
    />
    <div class="block-resize-top" style="top: 0" />
    <div class="block-resize-bottom" style="bottom: 0" />
    <div class="block-resize-left" style="left: 0" />
    <div class="block-resize-right" style="right: 0" />
    <Panel
      v-for="(panel, index) in workspace"
      :key="index"
      :index="index"
      :panel="panel"
      :id="`panel${index}`"
      @mouseover="activePanel = index"
      @highlight="highlightPanels(panel, ...$event)"
    />
  </main>
</template>

<script>
import Panel from "../molecules/Panel.vue";

export default {
  name: "Workspace",
  components: { Panel },
  data() {
    return {
      activePanel: false,
      deleteMode: false,
      splitMode: "",
      horizontal: 0,
      vertical: 0,
      workspace: [
        {
          "x": 0,
          "y": 0,
          "width": 23.823,
          "height": 59.705,
          "highlight": false
        },
        {
          "x": 0,
          "y": 59.705,
          "width": 11.032422509225093,
          "height": 40.292,
          "highlight": false
        },
        {
          "x": 11.032422509225093,
          "y": 59.705,
          "width": 12.790577490774908,
          "height": 40.292,
          "highlight": false
        },
        {
          "x": 23.823,
          "y": 0,
          "width": 10.603,
          "height": 32.053,
          "highlight": false
        },
        {
          "x": 34.426,
          "y": 0,
          "width": 8.988,
          "height": 32.053,
          "highlight": false
        },
        {
          "x": 23.823,
          "y": 32.053,
          "width": 19.592,
          "height": 53.628,
          "highlight": false
        },
        {
          "x": 23.823,
          "y": 85.682,
          "width": 10.71,
          "height": 14.316,
          "highlight": false
        },
        {
          "x": 34.533,
          "y": 85.682,
          "width": 8.881,
          "height": 14.316,
          "highlight": false
        },
        {
          "x": 43.416,
          "y": 0,
          "width": 10.570543933054394,
          "height": 85.651,
          "highlight": false
        },
        {
          "x": 53.98654393305439,
          "y": 0,
          "width": 10.482456066945607,
          "height": 85.651,
          "highlight": false
        },
        {
          "x": 43.416,
          "y": 85.651,
          "width": 21.053,
          "height": 14.34,
          "highlight": false
        },
        {
          "x": 64.471,
          "y": 0,
          "width": 15.735,
          "height": 100,
          "highlight": false
        },
        {
          "x": 80.208,
          "y": 0,
          "width": 19.79,
          "height": 59.004,
          "highlight": false
        },
        {
          "x": 80.208,
          "y": 59.004,
          "width": 19.79,
          "height": 40.994,
          "highlight": false
        }
      ],
      isDragging: false,
      mode: "",
      dragInitial: 0,
      dragPrevious: { x: 0, y: 0 },
      dragDirection: "",
      dragData: [],
    };
  },
  computed: {
    gridY() {
      return this.workspace.flatMap((panel) => [
        panel.x,
        panel.x + panel.width,
      ]);
    },
    gridX() {
      return this.workspace.flatMap((panel) => [
        panel.y,
        panel.y + panel.height,
      ]);
    },
    workspaceIndexed() {
      return this.workspace.map((panel,index) => Object.assign({ index }, panel))
    }
  },
  methods: {
    highlightPanels(selectedPanel, sideSelected, mode) {
    this.dragData = [];

    this.mode = mode;

    this.workspace.forEach((panel) => (panel.highlight = false));

    this[mode]
      .map((num, index) => {
        // added 0.2 tolerance here
        const tolerance  = 0.2
        
        if ((sideSelected + tolerance) > num && (sideSelected - tolerance) < num ) {
          
          this.dragData.push({
            index: Math.floor(index / 2),
            origin: Object.assign({}, this.workspace[Math.floor(index / 2)]),
            divide: Number.isInteger(index / 2) ? "after" : "before",
          });
        }
      })
      .filter((num) => typeof num === "number")
      .forEach((index) => {
        this.workspace[index].highlight = true;
      });

      // Select only the panels relative to selected panels index

      const panelGroups = [[]]
          
      if (mode === 'gridX') {
        this.dragData
        .map(panel => panel.index)
        .forEach(index => {
          
          if (panelGroups[0][ panelGroups[0]?.length - 1 ] !== (index - 1)) {
            panelGroups.unshift([])
          }
          
          panelGroups[0].push(index)
        })
        
        const selectedIndex = this.workspaceIndexed.find(panel => selectedPanel.x === panel.x)?.index

        this.dragData = panelGroups
        .find(panelGroup => panelGroup.includes(selectedIndex))
        ?.map(index => this.dragData.filter(panel => panel.index === index)?.[0])              
      }

      if (mode === 'gridY') {
        this.dragData
        .map(panel => panel.index)
        .forEach(index => {
          
          if (panelGroups[0][ panelGroups[0]?.length - 1 ] !== (index - 1)) {
            panelGroups.unshift([])
          }
          
          panelGroups[0].push(index)
        })
        
        const selectedIndex = this.workspaceIndexed.find(panel => selectedPanel.x === panel.x)?.index

        // This needs to be refined here for gaps on the Y axis, index doesn't work here!

        // this.dragData = panelGroups
        // .find(panelGroup => panelGroup.includes(selectedIndex))
        // ?.map(index => this.dragData.filter(panel => panel.index === index)?.[0])      
      }
    },
    splitIndicators($event) {
      this.horizontal = $event.x;
      this.vertical = $event.y;
      this.drag($event);
    },
    splitY(panel, panelElement) {
      const splitDiffX = Math.abs(
        ((panelElement.offsetLeft - this.horizontal) /
          panelElement.clientWidth) *
          panel.width
      );

      const newPanel = Object.assign({}, panel, {
        width: panel.width - splitDiffX,
      });
      newPanel.x += splitDiffX;
      panel.width = splitDiffX;

      return newPanel;
    },
    splitX(panel, panelElement) {
      const splitDiffY = Math.abs(
        ((panelElement.offsetTop - this.vertical) / panelElement.clientHeight) *
          panel.height
      );

      const newPanel = Object.assign({}, panel, {
        height: panel.height - splitDiffY,
      });
      newPanel.y += splitDiffY;
      panel.height = splitDiffY;

      return newPanel;
    },
    splitWorkspace() {
      if (this.splitMode) {
        const panel = this.workspace[this.activePanel],
          panelElement = document.getElementById(`panel${this.activePanel}`);

        if (this.splitMode === "horizontal")
          var newPanel = this.splitX(panel, panelElement);
        else var newPanel = this.splitY(panel, panelElement);

        this.workspace.splice(this.activePanel + 1, 0, newPanel);
        this.splitMode = "";
      }
    },
    dragStart($event) {
      this.dragInitial = this.mode === "gridY" ? $event.x : $event.y;
      document.getSelection().removeAllRanges();
      this.isDragging = true;
      this.dragPrevious = { x: $event.x, y: $event.y };
    },
    drag($event) {
      if (this.dragData.length && this.isDragging) {
        if (this.mode === "gridY") {
          this.dragDirection =
            this.dragPrevious.x < $event.x ? "right" : "left";
          const diff =
            (($event.x - this.dragInitial) / window.innerWidth) * 100;

          this.dragData
            .filter((dragPanel) => dragPanel.divide === "before")
            .forEach((panel) => {
              this.workspace[panel.index].width =
                parseInt((panel.origin.width + diff) * 1000) / 1000;
            });

          this.dragData
            .filter((dragPanel) => dragPanel.divide === "after")
            .forEach((panel) => {
              this.workspace[panel.index].x =
                parseInt((panel.origin.x + diff) * 1000) / 1000;
              this.workspace[panel.index].width =
                parseInt((panel.origin.width - diff) * 1000) / 1000;
            });
        }

        if (this.mode === "gridX") {
          this.dragDirection =
            this.dragPrevious.y > $event.y ? "top" : "bottom";
          const diff = (($event.y - this.dragInitial) / window.innerHeight) * 100;


          this.dragData
            .filter((dragPanel) => dragPanel.divide === "before")
            .forEach((panel) => {
              this.workspace[panel.index].height =
                parseInt((panel.origin.height + diff) * 1000) / 1000;
            });

          this.dragData
            .filter((dragPanel) => dragPanel.divide === "after")
            .forEach((panel) => {
              
              this.workspace[panel.index].y =
                parseInt((panel.origin.y + diff) * 1000) / 1000;
              
              this.workspace[panel.index].height =
                parseInt((panel.origin.height - diff) * 1000) / 1000;
            });
        }

        this.dragPrevious = { x: $event.x, y: $event.y };
      }
    },
    dragEnd() {
      document.getSelection().removeAllRanges();

      this.isDragging = false;

      this.dragData = [];

      this.workspace.forEach((panel) => (panel.highlight = false));
    },
  },
};
</script>

<style lang="postcss" scoped>
main {
  @apply relative
    w-screen
    h-screen
    border-t-4
    border-l-4
    border-indigo-600
    overflow-hidden;
}

.split-horizontal {
  @apply absolute
    w-screen
    h-1
    -mt-1
    bg-blue-500
    pointer-events-none;
}

.split-vertical {
  @apply absolute
    w-1
    -ml-1
    h-screen
    bg-blue-500
    pointer-events-none;
}

.block-resize-top,
.block-resize-bottom {
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  background: black;
  z-index: 999;
}

.block-resize-left,
.block-resize-right {
  position: absolute;
  width: 4px;
  top: 0;
  bottom: 0;
  background: black;
  z-index: 999;
}
</style>